build
.vscode/
RISCInst
testcases/**/*.ll
testcases/**/*.s
testcases/**/*.o
testcases/output
BackendTest/
uploadfolder
testcases_output
testcases_c
test.ipynb
function_test/
.cache/clangd/index
Testing
./test.ipynb
./CMakeLists.txt
./error.log