build
.vscode/settings.json
RISCInst
testcases/*.ll
testcases_output
testcases_c
.cache/clangd/index/ADCE.cpp.61CDA7D878C3A67C.idx
.cache/clangd/index/ADCE.hpp.4535402A73B4838B.idx
.cache/clangd/index/AsmPrinter.cpp.C7F61A1116C9B148.idx
.cache/clangd/index/AsmPrinter.hpp.A5087704A90C8C8C.idx
.cache/clangd/index/AST_NODE.cpp.C54F53B7309B5CDF.idx
.cache/clangd/index/AST_NODE.hpp.C27CB31BB85FB212.idx
.cache/clangd/index/BaseCFG.cpp.8C5C5482702DA15A.idx
.cache/clangd/index/BaseCFG.hpp.6B3E44359C49A89A.idx
.cache/clangd/index/CFG.cpp.4145D0E98BBD20D2.idx
.cache/clangd/index/CFG.hpp.589ACFF0725F9298.idx
.cache/clangd/index/ConstantFold.cpp.7C2B669A315E10A9.idx
.cache/clangd/index/ConstantFold.hpp.49EB17DC5ADF79C2.idx
.cache/clangd/index/ConstantProp.cpp.E4DF62A6FA0F4F66.idx
.cache/clangd/index/ConstantProp.hpp.A664D5EF28C55AB8.idx
.cache/clangd/index/DCE.cpp.DB9F795376F0FAC1.idx
.cache/clangd/index/DCE.hpp.30E2500B2A76174D.idx
.cache/clangd/index/DealCriticalEdges.cpp.2A798F9472BE7268.idx
.cache/clangd/index/DealCriticalEdges.hpp.821372FF225A3140.idx
.cache/clangd/index/dominant.cpp.287A105D93446D97.idx
.cache/clangd/index/dominant.hpp.366D84032F048661.idx
.cache/clangd/index/gir.cpp.90D9D683448712C7.idx
.cache/clangd/index/gir.hpp.559AFE406E0BA5CD.idx
.cache/clangd/index/graph_draw.cpp.A1804D3A743A3DCC.idx
.cache/clangd/index/graph_draw.hpp.580F38B2AF28EC1A.idx
.cache/clangd/index/IDF.cpp.53F3EEA960610E1D.idx
.cache/clangd/index/IDF.hpp.72238958C8E738B8.idx
.cache/clangd/index/InstructionSimplify.cpp.53760F6AB492118E.idx
.cache/clangd/index/InstructionSimplify.hpp.DDAF2A6EE949E7E6.idx
.cache/clangd/index/InstSelection.cpp.4F8050737B92C1FB.idx
.cache/clangd/index/InstSelection.hpp.7C78388787BE3971.idx
.cache/clangd/index/List.hpp.130D51197DAA513A.idx
.cache/clangd/index/LivenessAnalysis.cpp.2DA814FD8C697281.idx
.cache/clangd/index/LivenessAnalysis.hpp.B104660211CDB6EB.idx
.cache/clangd/index/Loop_Unroll.cpp.F2DFC30A45DCC2E9.idx
.cache/clangd/index/Loop_Unroll.hpp.D9BDFE02ADED2047.idx
.cache/clangd/index/LoopInfo.cpp.988F0A90AC191C8B.idx
.cache/clangd/index/LoopInfo.hpp.EC22B598DA73DB3B.idx
.cache/clangd/index/LoopRotate.cpp.99EF3EFB8F5AB10B.idx
.cache/clangd/index/LoopRotate.hpp.49E07FDB5717D5A5.idx
.cache/clangd/index/MachineCode.cpp.7A3B3162E802887A.idx
.cache/clangd/index/MagicEnum.hpp.073FD9C257E16135.idx
.cache/clangd/index/main.cpp.B7972149F4EFE1D5.idx
.cache/clangd/index/Mcode.cpp.9E90938CB434031E.idx
.cache/clangd/index/Mcode.hpp.6D7450610894E7A1.idx
.cache/clangd/index/mem2reg.cpp.6983D3951F2800AC.idx
.cache/clangd/index/my_stl.hpp.691A89DD4C11A393.idx
.cache/clangd/index/parser.cpp.9FA5FB86D549EED1.idx
.cache/clangd/index/parser.hpp.17DEE1B99FED1D1C.idx
.cache/clangd/index/passManager.cpp.8F8FD53175FE76CF.idx
.cache/clangd/index/passManager.hpp.9C1DC048BCB2AC43.idx
.cache/clangd/index/PassManagerBase.hpp.0FD437A5515D9BD5.idx
.cache/clangd/index/PromoteMemtoRegister.cpp.859CF46126AE1371.idx
.cache/clangd/index/PromoteMemtoRegister.hpp.D808B547C7E1398C.idx
.cache/clangd/index/scanner.cpp.FD9ACD65336727DC.idx
.cache/clangd/index/Singleton.hpp.A449E0F1CEB4A027.idx
.cache/clangd/index/SSAPRE.cpp.ABEAB065D3327EFC.idx
.cache/clangd/index/SSAPRE.hpp.024A479176DBAF24.idx
.cache/clangd/index/SymbolTable.hpp.FE0B13819E65B402.idx
.cache/clangd/index/Type.cpp.DE510E6D0338D71C.idx
.cache/clangd/index/Type.hpp.8A1FB3A1C5E60771.idx
.cache/clangd/index/TypeTrans.cpp.58C124DF4C80F926.idx
.cache/clangd/index/TypeTrans.hpp.7F5BAD4D99F7C2D8.idx
